{block content}
	{if $user->isLoggedIn()}<a n:href="category:create">Přidat kategorii</a>{/if}
		<h1 n:block="title">Můj blog</h1>

	{foreach $post as $posts}
	<div class="post">
		<div class="date"></div>

		<h2><a href="{link Category:show $posts->id}"> vypsat obsah kategorie: {$posts->cat_name}</a></h2>
	</div>
	{/foreach}
{/block}
